fastapi
uvicorn[standard]
sqlalchemy
python-multipart
python-jose[cryptography]
passlib[bcrypt]
requests
m3u8
celery==5.4.0
redis==5.0.1
python-dotenv
psycopg2-binary
sqlalchemy-utils
psutil
yt-dlp
PyJWT
numpy<2.0.0
cloudscraper
playwright
playwright-stealth
beautifulsoup4
httpx
jinja2
python-dateutil
lxml